/* Global Styles */

:root {
  
  --FieldsBackground: #f1f1f1;
  --MainBackground: #e6f3ff;
  --Background-Forms: #fff;
  
  
  --ButtonColor: #9897a6;
  --ButtonColorBackground: #0099ff;
  --ButtonPadding: 4px;

  
  --BorderColor: #f5f5f5;
  --BorderOutsideColor: #ddd;
  --BorderSize: 1px;
  --Border-Radius: 4px;
}
